/*body {
  margin: 0;
  color: #353535;
  font-family: 'Roboto', sans-serif;
}

#root {
  height: 100vh;
}*/

.pro-sidebar {
  height: 100vh !important;
  min-width: 5px !important;
  width: 12vw !important;
  position: fixed !important;
  top: 0;
}

.App {
  position: relative;
  height: 100%;
  width: 88vw;
  height: 100vh;
  left: 12vw;
  background-color: antiquewhite;
  z-index: -1;
}

.App p {
  margin-bottom: 0;
}
/*.AboutMe {
  overflow: auto;
  box-sizing: border-box;
  display: flexbox;
  text-align: center;
  height: 100vh;
  position: relative;
  background-color: blue;
  transition: transform 0.5s, opacity 0.5s;
}*/
/* ------------------ Homepage CSS ------------------ */
.homepage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 88vw !important;
  background-color: royalblue;
}

.AboutMe {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 88vw !important;
  position: relative;
  background-color: white;
}

.fade-enter {
  opacity: 0;
  transform: translate(0, 25px);
  z-index: 1;
}
.fade-enter.fade-enter-active {
  opacity: 1;
  transform: translate(0, 0);

  transition: opacity 250ms ease-out, transform 300ms ease;
}
.fade-exit {
  opacity: 1;
  transform: translate(0, 0);
}
.fade-exit.fade-exit-active {
  opacity: 0;
  transform: translate(0, 30px);

  transition: opacity 250ms ease-out, transform 300ms ease;
}
